[Desktop Entry]
Type=Application
Name=Adwaita Network
Comment=Modern network management application built with libadwaita
Icon=icon
TryExec=adwaita-network
Exec=adwaita-network
Terminal=false
Categories=GNOME;GTK;Network;Settings;
Keywords=wifi;hotspot;network;adw;adw network;adw-network;
StartupNotify=true
StartupWMClass=com.github.adw-network
